p{
    color:blue;
    text-align: center;
    
  }
  table {
    border: black 2px solid;
    border-collapse: collapse;
    margin-left: 38%;
  }
  td, th {
  border: black 2px solid;
  }
  #columne1{
    background-color:gray;
    text-align: center;
    
  }
  tr{
    border: 4px, solid,black;
  }